@use 'variables';

body {
    overflow-x: hidden;
}

.base-button {
    background-color: variables.$blue-500;
    display: block;

    width: 100%;

    padding: 20px 40px;
    margin: 0 auto;
    border-radius: 0;

    border: 1px solid transparent;

    color: variables.$white;

    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: variables.$font-xxmd;

    text-transform: uppercase;

    &:hover, &:focus-visible, &:not(.btn-check).btn:active  {
        transition: all .3s;
        color: variables.$white;
        
        background-color: variables.$blue-900;
    }

    &:not(.btn-check).btn:active {
        border-color: variables.$gray-200;
    }

    &.cta-banner {
        max-width: 211px;

        @media (min-width: 1024px) {
            margin: unset;
        }
    }

    &.cta-cards {
        max-width: 279px;
    }

    &.cta-about {
        font-size: variables.$font-lg;
        line-height: 120%;
        padding: 2rem;
    }

    &--outlined {
        @extend .base-button;

        background-color: transparent;
        border: 1px solid variables.$white;

        font-size: variables.$font-md;
    }
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: variables.$font-xxl;
    font-weight: 700;

    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.03em;

    line-height: 125%;

    color: variables.$red;

    &--card {
        @extend .title;
        font-size: variables.$font-lg;

        color: variables.$blue-500;

        line-height: 140%;
    }

    &--newsletter {
        @extend .title;
        font-size: variables.$font-xl;

        color: variables.$white;

        @media (min-width: 991px) {
            text-align: left;
        }
    }

    &--align-left {
        @extend .title;
        text-align: left;
    }


}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: variables.$font-xmd;
    font-weight: 700;

    text-align: center;

    line-height: 125%;

    color: variables.$blue-500;

    &--align-left {
        @extend .subtitle;
        text-align: left;
    }
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: variables.$font-md;
    font-weight: 500;

    color: variables.$blue-900;

    line-height: 167%;

    &--center {
        @extend .text;
        text-align: center;
    }


}

.form {
    input, textarea {
        background: transparent;

        padding: 0.625rem 0.75rem;

        font-family: 'Montserrat', sans-serif;
        font-size: variables.$font-md;
        font-weight: 500;

        color: variables.$blue-900;

        border: 1px solid variables.$gray-200;
        border-radius: 0;
        
        &::placeholder {
            color: variables.$blue-900;
        }

        &:focus, &:focus-visible {
            outline: 1px solid variables.$gray-200;
        }

        &.input-newsletter {
            color: variables.$white;
            border: 1px solid variables.$gray-500;

            &::placeholder {
                color: variables.$white;
            }

            &:focus, &:focus-visible {
                outline: 1px solid variables.$gray-500;
            }
        }
    }
}

.link {
    @extend .text;

    text-decoration: none;

    gap: 1.25rem;
}

address {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: variables.$font-xmd;
    font-weight: 700;

    color: variables.$blue-900;

    line-height: 150%;

    text-align: center;

    max-width: 350px;
    margin: 0 auto;

    a {
        text-decoration: none;
        color: inherit;
    }

    @media (min-width: 991px) {
        max-width: 600px;
    }
}