@use 'variables';
@use 'base';


header {
    nav {
        &.navbar {
            padding: 2rem !important;
            transition: all .3s;

            &.fixedHeader {
                background-color: transparent;
                backdrop-filter: blur(0px);
            }

            &.scrollHeader {
                background-color: variables.$blue-900;
            }

            .navbar-toggler {
                padding: 0;
                border: 0;
                border-radius: 0;

                width: 36px;
                height: 28px;

                .open-menu {
                    content: url('../images/hamburguer.svg');
                    opacity: 1;
                    display: block;

                    transition: all .1s;
                }

                .close-menu {
                    content: url('../images/close.svg');
                    display: none;

                    transition: all .1s;
                }

                &:focus,
                :focus-visible {
                    box-shadow: unset;
                }
            }

            &.active {
                background-color: rgba(0, 77, 128, 0.8);
                backdrop-filter: blur(15px);

                .navbar-toggler {
                    width: 28px;

                    .open-menu {
                        opacity: 0;
                        display: none;
                    }

                    .close-menu {
                        opacity: 1;
                        display: block;
                    }
                }
            }
        }

        .navbar-nav {
            .nav-link {
                @extend .text;

                color: variables.$white;
                font-size: 1rem;

                line-height: 250%;

                text-transform: uppercase;
                white-space: nowrap;

                &:hover {
                    color: variables.$gray-500;
                    transition: all .3s;
                }
            }

            .btn {
                max-width: 281px;
                font-size: variables.$font-xmd;
                color: variables.$white;

                padding: 0.875rem 1.375rem;
            }
        }
    }
}

.banner {
    height: 95vh;

    background-image: url('../images/banner.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 991px) {
        background-image: url('../images/banner-desktop.jpg');
        height: 100vh;
    }

    >div {
        color: variables.$white;
    }

    .banner-content-wrapper {
        padding-top: 33%;

        @media (min-width: 991px) {
            max-width: 490px;
            padding-top: 12%;
        }

        h1 {
            @extend .title;
            font-size: variables.$font-xxxl;
            line-height: 117%;

            margin-bottom: 1.125rem;
            color: inherit;

            @media (min-width: 991px) {
                text-align: left;
            }
        }

        p {
            @extend .text;
            font-size: variables.$font-xxmd;
            line-height: 160%;
            color: inherit;

            margin-bottom: 1.75rem;
        }
    }
}

.banner-internal {
    height: 45vh;

    background-image: url('../images/banner-privacidade.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: variables.$white;

    .banner-internal-content-wrapper {
        padding-top: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            @extend .title;
            font-size: variables.$font-xxxl;
            line-height: 117%;

            margin-bottom: 1.125rem;
            color: inherit;

            max-width: 302px;
        }

        p {
            @extend .text;
            font-size: variables.$font-xxmd;
            line-height: 160%;
            color: inherit;

            margin-bottom: 1.75rem;
        }
    }

    @media (min-width: 991px) {
        height: 60vh;
        background-image: url('../images/banner-privacidade.jpg');

        .banner-internal-content-wrapper {
            padding-top: 18%;
            justify-content: flex-start;
            align-items: normal;

            h1 {
                text-align: left;
                max-width: unset;
            }
        }
    }
}

.breadcrumb {
    li {
        a {
            color: inherit;
            text-decoration: none;

            font-size: variables.$font-sm;
            line-height: 184%;

            transition: all .3s;

            &:hover {
                color: variables.$gray-500;
            }
        }

        &+li::before {
            padding: 4px;
            content: "\003E";
        }
    }
}

.carousel-cards {
    .card-advantage {
        p {
            max-width: 355px;
        }
    }

    @media (min-width: 991px) {
        span.title--card {
            max-width: 185px;
            height: 70px;
        }

        img {
            width: 98px;
            height: 98px;
        }

        .card-advantage {
            p {
                max-width: 260px;
            }
        }
    }
}

.about-us {
    .curves-background {
        @media (min-width: 991px) {
            background-image: url('../images/curves.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 150% 110%;

            height: 100%;
            position: relative;
        }
    }
}

.products {
    height: 80vh;
    position: relative;

    >div {
        height: 100%;

        >div {
            height: 100%;

            >div {
                height: 100%;
            }
        }
    }

    .carousel-products-dots {
        position: absolute;
        bottom: 50px;

        height: 15px;
        width: 100%;
    }
}

.product {
    background-color: variables.$blue-900;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: variables.$white;

    &--first {
        @extend .product;
        background-image: url(../images/bg-truck.jpg);
    }

    &--second {
        @extend .product;
        background-image: url(../images/bg-plates.jpg);
    }

    .product-wrapper {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        height: 100%;

        padding: 0 2rem 6rem;

        span {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: variables.$font-sm;

            text-transform: uppercase;

            &::after {
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;


                height: 2px;
                width: 15px;

                background-color: variables.$white;
            }
        }

        .subtitle {
            @extend .subtitle;

            font-size: variables.$font-xl;
            color: inherit;

            line-height: 114%;
            text-align: left;

            max-width: 264px;
        }

        p {
            @extend .text;

            color: inherit;
            font-size: variables.$font-sm;

            max-width: 320px;
        }

        ul {
            li {
                @extend .text;

                color: inherit;

                font-size: variables.$font-sm;
                font-weight: 700;
            }
        }

        .btn {
            @extend .base-button--outlined;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.5rem;

            padding: 0.75rem 1.5rem;

            width: auto;

            margin: 0 auto 0 0;

            img {
                width: 10px;
                height: 8px;

                transition: transform 1s ease;
            }


            &:hover {
                background-color: rgba(0, 77, 128, 0.1);

                img {
                    transform: translate(8px, 0);
                }
            }
        }

        @media (min-width: 991px) {
            .subtitle {
                max-width: 480px;
            }

            p {
                max-width: 604px;
            }

            .btn {
                position: absolute;
                right: 40px;
                bottom: 40px;
            }
        }
    }
}

.newsletter {
    background-color: variables.$blue-900;
    background-image: url('../images/bg-newsletter.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .newsletter-content-wrapper {
        max-width: 320px;
        margin: 0 auto;

        @media (min-width: 991px) {
            max-width: unset;
            margin: unset;

            .title--newsletter {
                max-width: 470px;
            }

            .form {
                max-width: 480px;
            }
        }
    }
}

footer {
    border-top: 1px solid variables.$gray-300;
    background-color: variables.$white;

    .logo {
        @media (min-width: 991px) and (max-width: 1700px) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    strong {
        @extend .title;

        color: variables.$blue-900;
        font-size: variables.$font-default;
    }

    .address-footer {
        background-color: variables.$blue-900;
        color: variables.$white;

        padding: 2.5rem;

        address {
            color: inherit;
        }
    }
}

.float {
    position: fixed;
    z-index: 100;

    bottom: 110px;
    right: 10px;

    width: 75px;
    height: 75px;

    background-color: variables.$green;
    color: #FFF;

    border-radius: 50%;

    text-align: center;
    box-shadow: 0 10px 25px -5px rgba(37, 211, 102, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        -webkit-transform: translatey(5px);
        transform: translatey(5px);

        -webkit-transition: all 0.3s;
        transition: all 0.3s;

        box-shadow: 0 10px 25px rgba(37, 211, 102, 0.6);

        background-color: variables.$green;
        opacity: .9;
    }

    @media (min-width: 991px) {
        right: 80px;
        bottom: 100px;
    }
}

.google-maps {
    padding-bottom: 90%;
    position: relative;

    iframe {
        height: 100%;
        width: 100%;

        position: absolute;
        left: 0;
        top: 0;
    }

    @media (min-width: 991px) {
        padding-bottom: 30%;
    }

    @media (min-width: 1600px) {
        padding-bottom: 20%;
    }
}

.privacy-policy {

    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend .title;
        text-align: left;

        margin: 1rem 0 0.75rem;
    }

    p {
        @extend .text;
        overflow-wrap: break-word;
    }
}

.who-we-are {
    position: relative;

    &::before {
        // content: url(../images/curves-1.svg);
        content: '';
        width: 614px;
        height: 392px;
        background-image: url(../images/curves-1.svg);
        background-size: contain;
        background-repeat: no-repeat;

        position: absolute;
        top: -2%;
        left: -12%;
        z-index: -1;
    }

    &::after {
        content: '';
        width: 614px;
        height: 392px;
        background-image: url(../images/curves-2.svg);
        background-size: contain;
        background-repeat: no-repeat;

        position: absolute;
        bottom: -5%;
        right: -40%;
        z-index: -1;
    }

    @media (min-width: 991px) {
        &::before {
            content: url(../images/curves-1.svg);
            background-image: unset;
            background-size: unset;
            background-repeat: unset;

            width: unset;
            height: unset;

            top: -3%;
            left: -15%;
        }

        &::after {
            content: url(../images/curves-2.svg);
            width: unset;
            height: unset;

            background-image: unset;
            background-size: unset;
            background-repeat: unset;

            bottom: -1%;
            right: -15%;
        }
    }

    .title--align-left {
        max-width: 428px;
    }
}

.carousel-gallery {
    .gallery-item {
        img {
            max-width: 320px;
        }

        @media (min-width: 991px) {
            img {
                max-width: 100%;
            }
        }
    }
}

.advantages {
    background-color: variables.$blue-900;
    height: 390px;

    @media (min-width: 991px) {
        height: 220px;
    }

    color: variables.$white;

    .advantage {
        p {
            @extend .title--card;
            color: variables.$white;

            text-align: left;
            max-width: 274px;
        }

        img {
            width: 98px;
            height: 98px;
        }
    }
}

.eutectic-plates {
    .title--align-left {
        font-size: 2.5rem;
    }

    .custom-list {
        max-width: 261px;
        li {
            padding-inline-start: 1ch;

            &::marker {
                content: url(../images/check.svg);
            }

            p {
                @extend .text;
            }
        }

        @media (min-width: 991px) {
            max-width: unset;
        }
    }

    .specifications {
        p, strong {
            @extend .text;
        }

        strong {
            font-weight: 700;
        }

    }
}